<template>
  <div>
    <div class="header">
      <div class="">
        <div class="img-container aspect-ratio-16x9">
          <img :src="event.image_url" alt="" />
        </div>
      </div>
      <div>{{ details.title }}</div>
      <div>{{ details.subtitle }}</div>
    </div>
    <div class="info">
      <div>
        <div>Date and Time</div>
        <div>{{ event.date }}</div>
        <div>{{ event.time }}</div>
        <div>Location</div>
        <div>{{ details.location.name }}</div>
        <div>{{ details.location.address }}</div>
        <div>See on map</div>
        <div>BUTTON HERE</div>
      </div>
    </div>
    <div class="menu">
      <div v-for="(item, index) in details.menu" :key="index">
        {{ item }}
      </div>
    </div>
    <div class="body-container" style="height: 2000px;">asdf</div>
  </div>
</template>

<script>
// import { mapState } from 'vuex'
export default {
  data() {
    return {
      event: this.$store.state.events.items[0]
    }
  },
  computed: {
    details() {
      return this.event[this.$i18n.locale]
    }
  }
}
</script>

<style scoped>
.header,
.menu,
.body {
  width: 66%;
}

.info {
  position: fixed;
  top: 44px;
  right: 0;
  width: 33%;
}
@media screen and (max-width: 700px) {
  .header,
  .menu,
  .body {
    width: 100%;
  }

  .info {
    position: static;
    width: 100%;
  }
}
</style>
