<template>
  <div class="menu">
    <div class="ribbon-wrapper">
      <div class="ribbon-container">
        <img class="ribbon" src="/chickenbleu.png" alt="" />
      </div>
    </div>
    <div>
      <div class="img-container aspect-ratio-16x9">
        <img src="/sandwich.jpg" alt="" />
      </div>
    </div>
    <!-- <div class="button-container">
      <div class="button" @click="$router.push('/subscribe')">Subscribe</div>
    </div> -->
  </div>
</template>

<style scoped>
.menu {
  position: relative;
}

.ribbon-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ribbon-container {
  width: 13%;
  margin-left: 3%;
}

.ribbon {
  width: 100%;
}

.button-container {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.button {
  background: #2c8ece;
  color: white;
  padding: 7px 15px;
}
</style>
