<template>
  <div class="mc-container">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form
        id="mc-embedded-subscribe-form"
        action="https://chickenbleu.us20.list-manage.com/subscribe/post?u=dee11256261a4bda5f38e5a4e&amp;id=5c08b7e060"
        method="post"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <h2>
            {{
              $i18n.locale == 'en'
                ? 'Be the first to know of future events and tastings'
                : '輸入您的信箱,持續更新最新商品'
            }}
          </h2>
          <div class="mc-input-wrapper" style="display:flex;">
            <div class="mc-field-group email-wrapper">
              <input
                id="mce-EMAIL"
                type="email"
                value=""
                :placeholder="$i18n.locale == 'en' ? 'Email' : '電子郵件'"
                name="EMAIL"
                class="required email"
              />
            </div>
            <div class="clear submit-button">
              <input
                id="mc-embedded-subscribe"
                type="submit"
                :value="$i18n.locale == 'en' ? 'Subscribe' : '訂閱'"
                name="subscribe"
                class="button"
              />
            </div>
          </div>
          <div class="mc-field-group hidden">
            <label for="mce-LANG">Language </label>
            <select
              id="mce-LANG"
              name="LANG"
              class="required"
              :value="$i18n.locale"
            >
              <option value=""></option>
              <option value="en">English</option>
              <option value="tw">中文</option>
            </select>
          </div>
          <div id="mce-responses" class="clear">
            <div
              id="mce-error-response"
              class="response"
              style="display:none"
            ></div>
            <div
              id="mce-success-response"
              class="response"
              style="display:none"
            ></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_dee11256261a4bda5f38e5a4e_5c08b7e060"
              tabindex="-1"
              value=""
            />
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.mc-container {
  display: flex;
  justify-content: center;
  background: white;
  border-bottom: 1px solid lightgray;
}

#mc_embed_signup {
  width: 100%;
  max-width: 700px;
  background: white;
  margin: 20px 0;
}

#mc_embed_signup h2 {
  margin-bottom: 15px;
  text-align: center;
}

.mc-input-wrapper {
  border: 1px solid lightgray;
  border-radius: 4px;
  width: calc(100% - 40px);
  margin: 0 20px;
  display: flex;
  height: 44px;
  overflow: hidden;
}

.email-wrapper {
  flex: 1;
}

.email-wrapper input {
  height: 44px;
  width: 100%;
  text-indent: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.submit-button {
  width: 100px;
}

.submit-button input {
  height: 44px;
  width: 100%;
  margin: 0;
  background-color: #2646a4;
  border: none;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 0;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

.hidden {
  display: none;
}
</style>
