<template>
  <div class="menu">
    <div class="ribbon-wrapper">
      <div class="ribbon-container">
        <img class="ribbon" src="/chickenbleu.png" alt="" />
      </div>
    </div>
    <div>
      <div class="img-container aspect-ratio-16x9">
        <img src="/sandwich.jpg" alt="" />
      </div>
    </div>
    <div>{{ menu.title }}</div>
    <div>{{ menu.subtitle }}</div>
    <div class="status_bar">
      <div>{{ menu.date }}</div>
      <div>{{ menu.plates_available - menu.plates_sold }} Left</div>
      <div>{{ menu.price }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    menu: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.menu {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
}

.status_bar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
</style>
