<template>
  <div class="topbar">
    <div class="logo">
      <span class="chicken">chicken</span><span class="bleu">bleu</span>
    </div>
    <div class="options--language">
      <div
        class="option--language"
        :class="{ selected: $i18n.locale == 'tw' }"
        @click="$i18n.locale = 'tw'"
      >
        中文
      </div>
      <div class="divider-container"><div class="divider" /></div>
      <div
        class="option--language"
        :class="{ selected: $i18n.locale == 'en' }"
        @click="$i18n.locale = 'en'"
      >
        Eng
      </div>
    </div>
  </div>
</template>

<style scoped>
.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
}

.logo {
  padding-left: 12px;
  line-height: 44px;
}

.options--language {
  display: flex;
}

.option--language {
  padding: 0 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: gray;
  font-weight: bold;
}

.divider-container {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 22px;
  background: lightgray;
}

.chicken {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2646a4;
}

.bleu,
.selected {
  font-family: 'Roboto Slab', serif;
  color: #2c8ece;
}
</style>
