.img-container {
  position: relative;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container.aspect-ratio-16x9 {
  padding-bottom: 56%;
}