<template>
  <div>
    <div ref="header" class="header">
      <div>
        <div class="title">The Fresh, Never Frozen Fried Chicken</div>
        <div class="description">put a description here</div>
      </div>
      <div class="menus">
        <Menu
          v-for="(menu, index) in $t('menus')"
          :key="index"
          :menu="menu"
          class="menu"
        />
      </div>
      <div class="introduction">
        <div class="menu-container">
          <div class="menu">
            <div class="menu-header">
              <div>{{ $t('menu.title') }}</div>
            </div>
            <div class="menu-body">
              <div v-for="(course, index) in $t('menu.courses')" :key="index">
                <div class="menu-course">
                  <div class="line-container"><div class="line" /></div>
                  <div class="title-container">
                    <div class="title">{{ course.title }}</div>
                  </div>
                </div>
                <div
                  v-for="(item, index2) in course.items"
                  :key="index2"
                  class="menu-item"
                >
                  <div class="title">{{ item.title }}</div>
                  <div class="subtitle">{{ item.subtitle }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="datetime section">
              <div class="title">Date and Time</div>
              <div>Select Monday's</div>
              <div>7:30 PM - 8:30 PM</div>
            </div>
            <div class="location section">
              <div class="title">Location</div>
              <div>The Oasis Tavern</div>
              <div>the address in</div>
              <div>See on map</div>
            </div>
          </div>
          <div class="event-stats">
            <div class="progress">
              <div class="progress-bar" :style="{ width: '43%' }" />
            </div>
            <div class="stats">
              <div class="stat">
                <div class="value">6</div>
                <div class="label">Events</div>
              </div>
              <div class="stat">
                <div class="value">34 / 72</div>
                <div class="label">Plates Sold</div>
              </div>
              <div class="stat">
                <div class="value">150 - 300</div>
                <div class="label">Price Range</div>
              </div>
            </div>
          </div>
          <div class="cta-button">Reserve a seat</div>
        </div>
      </div>
    </div>
    <div class="tabbar" :class="{ fixed: fixedTop }">
      <div class="tabbar--options">
        <div class="tabbar--option">Campaign</div>
        <div class="tabbar--option">Campaign</div>
        <div class="tabbar--option">Campaign</div>
        <div class="tabbar--option">Campaign</div>
      </div>
    </div>
    <div class="body-container">
      <div>
        107 ''bfast sayfillet '
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '@/components/Menu'
export default {
  components: {
    Menu
  },
  data() {
    return {
      fixedTop: false
    }
  },
  mounted() {
    if (!process.browser) return
    window.addEventListener('scroll', this.scroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.scroll)
  },
  methods: {
    scroll(e) {
      const scrollTop = e.target.scrollingElement.scrollTop
      const fixedTop = this.$refs.header.clientHeight
      if (scrollTop > fixedTop) this.fixedTop = true
      else this.fixedTop = false
    }
  }
}
</script>

<style scoped>
.header {
  background: #f3fbff;
}

.ribbon-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ribbon-container {
  width: 13%;
  margin-left: 3%;
}

.ribbon {
  width: 100%;
}

.button--language {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
}

.img-container {
  position: relative;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container.aspect-ratio-16x9 {
  padding-bottom: 56%;
}

.introduction {
}

.menu-container {
  padding: 12px;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.menu {
  position: relative;
  flex-basis: 30%;
  border: 1px solid lightgray;
  overflow: hidden;
  background: white;
}

.menu-header {
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu-course {
  position: relative;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.menu-course .line-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.menu-course .line-container .line {
  height: 1px;
  background: lightgray;
}

.menu-course .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.menu-course .title {
  background: white;
  padding: 0 10px;
  position: absolute;
  top: 0;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 1;
}

.menu-item {
  margin-top: 15px;
}

.menu-item .title {
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
}

.menu-item .subtitle {
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 20px;
  color: #656565;
}

.menu-body {
  text-align: center;
}

.event {
  text-align: center;
}

.event .section {
  margin-top: 15px;
}

.event .section .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.event-stats {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.event-stats .progress {
  height: 4px;
}

.event-stats .progress .progress-bar {
  height: 100%;
  background: #2c8ece;
}

.event-stats .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stats .stat {
}

.stat .value {
  font-size: 24px;
}

.cta-button {
  background: #2c8ece;
  color: white;
  height: 44px;
  margin: 12px 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabbar {
  position: absolute;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 60px;
  width: 100%;
  overflow-x: scroll;
}

.tabbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.tabbar--options {
  display: flex;
}

.tabbar--option {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  margin-top: 72px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
}

.subtitle {
}

.links {
  padding-top: 15px;
}

.chicken {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2646a4;
}

.bleu,
.selected {
  font-family: 'Roboto Slab', serif;
  color: #2c8ece;
}
</style>
