<template>
  <div>
    <div ref="header" class="header">
      <HeaderImage />
      <MailChimpSignup />
      <div class="introduction">
        <div class="menu-container">
          <div class="menu">
            <div class="menu-header">
              <div>{{ t_menu.title }}</div>
            </div>
            <div class="menu-body">
              <div class="menu-course">
                <div class="title">{{ t_menu.burger.title }}</div>
                <div class="subtitle">{{ t_menu.burger.description }}</div>
              </div>
              <div class="menu-course">
                <div class="title">{{ t_menu.fries.title }}</div>
                <div class="subtitle">{{ t_menu.fries.description }}</div>
              </div>
              <div class="menu-course">
                <div class="title">{{ t_menu.drink.title }}</div>
                <div
                  v-for="(description, index) in t_menu.drink.descriptions"
                  :key="index"
                  class="subtitle"
                >
                  {{ description }}
                </div>
              </div>
            </div>
            <div class="menu-footer">
              <div
                v-for="(price, index) in t_menu.prices"
                :key="index"
                class="title"
              >
                {{ price }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="placetime">
      <div class="time">
        <!-- <div class="square"> -->
        <div class="time-info">
          <div>
            <div class="time-datum">{{ t_menu.date }}</div>
            <div class="time-datum">{{ t_menu.time }}</div>
            <div class="time-datum">{{ t_menu.store }}</div>
            <div class="time-datum">{{ t_menu.address }}</div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="place">
        <div class="square">
          <iframe
            :src="
              $i18n.locale == 'en'
                ? 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.9578638738362!2d121.54278231548949!3d25.03550398397171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd3cfc6f3a3%3A0xf87ca13f5721fc60!2zVGhlIE9hc2lzIFRhdmVybiDntqDmtLLphZLppKg!5e0!3m2!1sen!2stw!4v1555752476547!5m2!1sen!2stw'
                : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.957863873838!2d121.54278231500626!3d25.035503983971644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd3cfc6f3a3%3A0xf87ca13f5721fc60!2zVGhlIE9hc2lzIFRhdmVybiDntqDmtLLphZLppKg!5e0!3m2!1szh-TW!2stw!4v1555752993883!5m2!1szh-TW!2stw'
            "
            :width="half"
            :height="half"
            frameborder="0"
            style="border:0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</template>

<script>
import HeaderImage from '@/components/HeaderImage'
import MailChimpSignup from '@/components/MailChimpSignup'
export default {
  components: {
    HeaderImage,
    MailChimpSignup
  },
  data() {
    return {
      menu: {
        tw: {
          title: '漢堡試賣',
          burger: {
            title: '凱薩經典漢堡',
            description:
              '未冷凍新鮮雞胸,低溫亨煮再經高溫油炸,鎖住原本雞肉鮮甜多汁,更可以把其中 雞肉特色呈現出不同風味,再佐特製凱薩醬與現煎培根'
          },
          fries: {
            title: '馬鈴薯角',
            description: '新鮮馬鈴薯去皮後切絲,搭配獨家特製沾醬!'
          },
          drink: {
            title: '飲料',
            descriptions: ['可樂， 七喜', '啤酒 +80']
          },
          prices: [
            '售價 NT 350( 含一杯無酒精性飲料 )',
            '售價 NT 430( 含一杯新鮮海尼根啤酒 )'
          ],
          date: '日期 : 4/24',
          time: '時間 : 7:30 pm - 9:00 pm',
          store: '地點 : 綠洲酒吧',
          address: '地址 : 10665 台北市大安區復興南路一段 279 巷 26 號'
        },
        en: {
          title: 'Chicken Sandwich Tasting',
          burger: {
            title: 'Caesar the Great',
            description:
              'A fresh, never frozen chicken breast sous vide and flash fried to lock in juiciness and flavor. Topped with Caesar dressing, romaine lettuce and bacon bits on a toasted bun.'
          },
          fries: {
            title: 'Potato wedges',
            description:
              'Freshly cut locally sourced potatoes with peel. Fried and topped with assorted spices.'
          },
          drink: {
            title: 'Beverage',
            descriptions: ['Coke, 7-Up', 'Heinekin +80']
          },
          prices: [
            'Price 350 NT(  one complimentary soda  )',
            'Price 430 NT(  one pint Heineken beer  )'
          ],
          date: 'Date : 4/24',
          time: 'Time : 7:30 pm - 9:00 pm',
          store: 'Location : The Oasis Tavern',
          address:
            'Address : No. 26, Lane 279, Section 1, Fuxing South Road, Daan District, Taipei City, 10665'
        }
      },
      half: '300',
      full: '300'
    }
  },
  computed: {
    t_menu() {
      return this.menu[this.$i18n.locale]
    }
  },
  mounted() {
    const full = Math.floor(window.innerWidth).toString()
    const half = Math.floor(window.innerWidth / 2).toString()
    this.half = window.innerWidth <= 500 ? full : half
  },
  destroyed() {},
  methods: {}
}
</script>

<style scoped>
.header {
  background: #f3fbff;
}

.button--language {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
}

.img-container {
  position: relative;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container.aspect-ratio-16x9 {
  padding-bottom: 56%;
}

.introduction {
}

.menu-container {
  padding: 12px;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.menu {
  position: relative;
  flex-basis: 30%;
  border: 1px solid lightgray;
  overflow: hidden;
  background: white;
}

.menu-header {
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu-course {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
}

.menu-course .title {
  background: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
}

.menu-course .subtitle {
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 0 20px;
  color: #656565;
}

.menu-body {
  text-align: center;
}

.menu-footer {
  padding: 0 0 20px 0;
  margin-top: 20px;
}

.menu-footer .title {
  background: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
}
.event {
  text-align: center;
}

.event .section {
  margin-top: 15px;
}

.event .section .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.event-stats {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.event-stats .progress {
  height: 4px;
}

.event-stats .progress .progress-bar {
  height: 100%;
  background: #2c8ece;
}

.event-stats .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stats .stat {
}

.stat .value {
  font-size: 24px;
}

.cta-button {
  background: #2c8ece;
  color: white;
  height: 44px;
  margin: 12px 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabbar {
  position: absolute;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 60px;
  width: 100%;
  overflow-x: scroll;
}

.tabbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.tabbar--options {
  display: flex;
}

.tabbar--option {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  margin-top: 72px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
}

.subtitle {
}

.links {
  padding-top: 15px;
}

.chicken {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2646a4;
}

.bleu,
.selected {
  font-family: 'Roboto Slab', serif;
  color: #2c8ece;
}

.placetime {
  display: flex;
  width: 100%;
  border-top: 1px solid lightgray;
}

.place,
.time {
  flex-basis: 50%;
}

.time-datum {
  margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .placetime {
    flex-direction: column;
  }
}

.place {
  position: relative;
  width: 50%;
}

.square {
  position: relative;
  padding-bottom: 100%;
}

.square iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.time-info {
  /* position: absolute; */
  padding: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.footer {
  height: 100px;
}
</style>
